{
  "openapi": "3.0.0",
  "info": {
    "version": "1.0.0",
    "title": "OTTO Market API",
    "x-logo": {
      "url": "https://nonlive.portal.otto.market/static/assets/images/otto_market_logo_borderless.svg",
      "backgroundColor": "#ffffff"
    }
  },
  "servers": [
    {
      "url": "https://api.otto.market",
      "description": "Live Server"
    }
  ],
  "paths": {
    "/v4/products": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "The total number of results could be limited by specifying query parameters. Generally the resulting product variations will be paginated. The default page length is 100 product variations per response, also the page size limit. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V4__getPartnerProducts",
        "parameters": [
          {
            "description": "search for product variations by their sku value. Use this if your sku values contain slash ('/') or dot ('.') characters.",
            "explode": true,
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their productReference value",
            "explode": true,
            "in": "query",
            "name": "productReference",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their category value",
            "explode": true,
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their brandId value",
            "explode": true,
            "in": "query",
            "name": "brandId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of products per response page (at most 100)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariationApiResult__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified product variations. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Read product variations",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v4/products?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v4/products?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      },
      "post": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Returns a process-id to query results. The limit for the number of product variations in one request is 500.",
        "operationId": "Products-V4__createOrUpdateProductVariations",
        "parameters": [
          {
            "description": "Holds the optional client side update request timestamp, in ISO DateTime format",
            "example": "2000-10-31T01:30:10.000-05:00",
            "explode": false,
            "in": "header",
            "name": "X-Request-Timestamp",
            "required": false,
            "schema": {
              "format": "yyyy-MM-dd'T'HH:mm:ss.SSSXXX",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/ProductVariation__Products-V4"
                },
                "type": "array"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductProcessProgress__Products-V4"
                }
              }
            },
            "description": "The request for a modification of the specified product variations was accepted and will be executed"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to modify the specified product variations. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Create or update product variations",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.otto.market/v4/products \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'X-Request-Timestamp: 2000-10-31T01:30:10.000-05:00' \\\n  --header 'content-type: application/json' \\\n  --data '[{\"productReference\":\"UBN-11779\",\"sku\":\"3858389911564\",\"ean\":\"3858389911564\",\"pzn\":\"PZN-4908802\",\"mpn\":\"H2G2-42\",\"moin\":\"M00A1234BC\",\"releaseDate\":\"2019-10-19T00:00:00Z\",\"productDescription\":{\"category\":\"Outdoorjacke\",\"brandId\":\"CMWBBRW2\",\"productLine\":\"501\",\"productionDate\":\"2021-07-02T09:30:52.093Z\",\"multiPack\":true,\"bundle\":false,\"fscCertified\":true,\"disposal\":false,\"productUrl\":\"http://myproduct.somewhere.com/productname/\",\"description\":\"<p>Some example words...<b>in bold</b>...some more</p>\",\"bulletPoints\":[\"My top key information...\"],\"attributes\":[{\"name\":\"Bundweite\",\"values\":[\"34\"],\"additional\":false}]},\"mediaAssets\":[{\"type\":\"IMAGE\",\"location\":\"http://apartners.url/image-location\"}],\"order\":{\"maxOrderQuantity\":{\"quantity\":10,\"periodInDays\":7}},\"pricing\":{\"standardPrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"vat\":\"FULL\",\"msrp\":{\"amount\":19.95,\"currency\":\"EUR\"},\"sale\":{\"salePrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"startDate\":\"2019-10-19T09:30:00Z\",\"endDate\":\"2019-10-19T09:30:00Z\"},\"normPriceInfo\":{\"normAmount\":100,\"normUnit\":\"g\",\"salesAmount\":500,\"salesUnit\":\"g\"}},\"logistics\":{\"packingUnitCount\":3,\"packingUnits\":[{\"weight\":365,\"width\":600,\"height\":200,\"length\":300}]},\"productSafety\":{\"name\":\"Die Musterfirma GmbH\",\"address\":\"Musterstraße 1, 12345, Musterstadt, Deutschland\",\"regionCode\":\"DE\",\"email\":\"info@die-musterfirma.de\",\"url\":\"https://musterfirma/kontakt-information\",\"phone\":\"+ 49 40 123456789\"}}]'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '[{\"productReference\":\"UBN-11779\",\"sku\":\"3858389911564\",\"ean\":\"3858389911564\",\"pzn\":\"PZN-4908802\",\"mpn\":\"H2G2-42\",\"moin\":\"M00A1234BC\",\"releaseDate\":\"2019-10-19T00:00:00Z\",\"productDescription\":{\"category\":\"Outdoorjacke\",\"brandId\":\"CMWBBRW2\",\"productLine\":\"501\",\"productionDate\":\"2021-07-02T09:30:52.093Z\",\"multiPack\":true,\"bundle\":false,\"fscCertified\":true,\"disposal\":false,\"productUrl\":\"http://myproduct.somewhere.com/productname/\",\"description\":\"<p>Some example words...<b>in bold</b>...some more</p>\",\"bulletPoints\":[\"My top key information...\"],\"attributes\":[{\"name\":\"Bundweite\",\"values\":[\"34\"],\"additional\":false}]},\"mediaAssets\":[{\"type\":\"IMAGE\",\"location\":\"http://apartners.url/image-location\"}],\"order\":{\"maxOrderQuantity\":{\"quantity\":10,\"periodInDays\":7}},\"pricing\":{\"standardPrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"vat\":\"FULL\",\"msrp\":{\"amount\":19.95,\"currency\":\"EUR\"},\"sale\":{\"salePrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"startDate\":\"2019-10-19T09:30:00Z\",\"endDate\":\"2019-10-19T09:30:00Z\"},\"normPriceInfo\":{\"normAmount\":100,\"normUnit\":\"g\",\"salesAmount\":500,\"salesUnit\":\"g\"}},\"logistics\":{\"packingUnitCount\":3,\"packingUnits\":[{\"weight\":365,\"width\":600,\"height\":200,\"length\":300}]},\"productSafety\":{\"name\":\"Die Musterfirma GmbH\",\"address\":\"Musterstraße 1, 12345, Musterstadt, Deutschland\",\"regionCode\":\"DE\",\"email\":\"info@die-musterfirma.de\",\"url\":\"https://musterfirma/kontakt-information\",\"phone\":\"+ 49 40 123456789\"}}]' |  \\\n  http POST https://api.otto.market/v4/products \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN' \\\n  X-Request-Timestamp:2000-10-31T01:30:10.000-05:00 \\\n  content-type:application/json"
          }
        ]
      }
    },
    "/v4/products/active-status": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "The total number of results could be limited by specifying query parameters. Generally the resulting active status values will be paginated. The default page length is 100 active status entries per response, also the page size limit. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V4__getActiveStatus",
        "parameters": [
          {
            "description": "search for product variations by their sku value. Use this if your sku values contain slash ('/') or dot ('.') characters.",
            "explode": true,
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their productReference value",
            "explode": true,
            "in": "query",
            "name": "productReference",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their category value",
            "explode": true,
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their brand ID value",
            "explode": true,
            "in": "query",
            "name": "brandId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of active status values per response page (at most 100)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveStatusListResponse__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the active status of the specified product variations. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Read active status",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v4/products/active-status?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v4/products/active-status?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      },
      "post": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Returns a process-id to query results. The limit for the number of product active statuses in one request is 500.",
        "operationId": "Products-V4__updateActiveStatus",
        "parameters": [
          {
            "description": "Holds the optional client side update request timestamp, in ISO DateTime format",
            "example": "2000-10-31T01:30:10.000-05:00",
            "explode": false,
            "in": "header",
            "name": "X-Request-Timestamp",
            "required": false,
            "schema": {
              "format": "yyyy-MM-dd'T'HH:mm:ss.SSSXXX",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveStatusListRequest__Products-V4"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductProcessProgress__Products-V4"
                }
              }
            },
            "description": "The request for a modification of the active status of the specified product variation was accepted and will be executed"
          },
          "400": {
            "description": "The request body is no valid JSON document"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to modify the active status of the specified product variations. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Update active status",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.otto.market/v4/products/active-status \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'X-Request-Timestamp: 2000-10-31T01:30:10.000-05:00' \\\n  --header 'content-type: application/json' \\\n  --data '{\"status\":[{\"sku\":\"82388894-5883-488\",\"active\":true}]}'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '{\"status\":[{\"sku\":\"82388894-5883-488\",\"active\":true}]}' |  \\\n  http POST https://api.otto.market/v4/products/active-status \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN' \\\n  X-Request-Timestamp:2000-10-31T01:30:10.000-05:00 \\\n  content-type:application/json"
          }
        ]
      }
    },
    "/v4/products/brands": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          },
          {
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "description": "Read the list of brands that are known on the Otto market place. The list of brands will be paginated. Brands consist of a name, a brand Id, a (link to a) logo and a boolean useable that lets you know wheter you are allowed to set up variants with this brand on the Otto Marketplace. The default page length is 100 entries per response, the page size upper limit is 1000. The links specified in the result can be used to page through the total result space. Note that there will be no prev link on the first page and no next link on the last page.",
        "operationId": "Products-V4__getBrands",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandListResponse__Products-V4"
                }
              }
            },
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Last-Modified": {
                "$ref": "#/components/headers/Last-Modified"
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read a list of known brands. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "List of allowed brands",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v4/products/brands?page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'If-Match: 7da7a728f910' \\\n  --header 'If-Modified-Since: Sat, 29 Oct 1994 19:43:31 GMT' \\\n  --header 'If-None-Match: 7da7a728f910' \\\n  --header 'If-Unmodified-Since: Sat, 29 Oct 1994 19:43:31 GMT'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v4/products/brands?page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN' \\\n  If-Match:7da7a728f910 \\\n  If-Modified-Since:'Sat, 29 Oct 1994 19:43:31 GMT' \\\n  If-None-Match:7da7a728f910 \\\n  If-Unmodified-Since:'Sat, 29 Oct 1994 19:43:31 GMT'"
          }
        ]
      }
    },
    "/v4/products/categories": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Returns product categories and associated attributes of the OTTO market place. The total number of results could be limited by specifying query parameters. Generally the resulting product categories values will be paginated. The default page length is 100 product categories per response, the page size limit is 2000. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V4__getCategoryGroups",
        "parameters": [
          {
            "description": "the number (starting with 0) of the page, that should be delivered.",
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of product categories per response page  (at most 2000)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "read a single category",
            "explode": true,
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryGroups__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the product categories. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The category could not be found."
          }
        },
        "summary": "Read product categories",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v4/products/categories?page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE&category=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v4/products/categories?page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE&category=SOME_STRING_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v4/products/content-changes": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Read the content changes for all your product variations within a specific time period. You can also use this endpoint to read the content changes for more than one variation or if the sku value contains slash ('/') or dot ('.') characters, so that you cannot use the other endpoint with one dedicated sku value in the path. The resulting content changes will be paginated. The default page length is 100 entries per response, which also is the page size upper limit. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V4__getContentChanges2",
        "parameters": [
          {
            "description": "search for product variations by their sku value. Use this to query for multiple variations or if your sku values contain slash ('/') or dot ('.') characters. You may separate multiple sku values by comma or state each one with a &sku= in front of the value. Please note that if you like to query for a single variation whose value contains a comma you have to add one empty &sku= at the end of the query string or use the other endpoint.",
            "explode": true,
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "search for content changes from this time on. The maxmimum and default value is 28 days before now. Future values can be specified, but lead to an empty result.",
            "explode": true,
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            },
            "style": "form"
          },
          {
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of content changes per response page (at most 100)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentChangesApiResult__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read content changes of the specified product variations. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The product variation with the specified sku value could not be found."
          }
        },
        "summary": "Read content changes within time period",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v4/products/content-changes?sku=SOME_ARRAY_VALUE&fromDate=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v4/products/content-changes?sku=SOME_ARRAY_VALUE&fromDate=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v4/products/marketplace-status": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "The total number of results could be limited by specifying query parameters. Generally the resulting marketplace status will be paginated. The default page length is 100 product variations per response, also the page size limit. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V4__getMarketPlaceStatusList",
        "parameters": [
          {
            "description": "search for product variations by their sku value. Use this if your sku values contain slash ('/') or dot ('.') characters.",
            "explode": true,
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search marketplace status by the productReference value of the related product variations",
            "explode": true,
            "in": "query",
            "name": "productReference",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search marketplace status by the category value of the related product variations",
            "explode": true,
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search marketplace status by the brand ID value of the related product variations",
            "explode": true,
            "in": "query",
            "name": "brandId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search marketplace status for a time range starting with the given date (in ISO8601, like '2021-10-09T07:52:19.820Z' or '2021-10-09T07:52:19.820+01:00')",
            "explode": true,
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "page to load",
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of marketplace status per response page (at most 1000)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "only include items that match any of the provided status",
            "explode": true,
            "in": "query",
            "name": "marketPlaceStatus",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "PENDING",
                  "ONLINE",
                  "RESTRICTED",
                  "REJECTED",
                  "INACTIVE"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Define the sort order of the resulting entries. Available values are 'desc' for 'newest lastModified first' and 'asc' for 'oldest lastModified first' - default is 'desc'",
            "explode": true,
            "in": "query",
            "name": "sort-order",
            "required": false,
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketPlaceStatusApiResult__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "304": {
            "description": "The request included an If-Modified-Since header, but the resource has not been modified since the specified date."
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified marketplace status. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Read marketplace status of product variations",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v4/products/marketplace-status?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&fromDate=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE&marketPlaceStatus=SOME_ARRAY_VALUE&sort-order=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v4/products/marketplace-status?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&fromDate=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE&marketPlaceStatus=SOME_ARRAY_VALUE&sort-order=SOME_STRING_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v4/products/prices": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Read your product variations prices. The total number of results could be limited by specifying query parameters. Generally the resulting product variations will be paginated. The default page length is 100 product variations per response, also the page size limit. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V4__getProductVariationPrices",
        "parameters": [
          {
            "description": "search for product variations by their sku value. Use this if your sku values contain slash ('/') or dot ('.') characters.",
            "explode": true,
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their productReference value",
            "explode": true,
            "in": "query",
            "name": "productReference",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their category value",
            "explode": true,
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their ID value",
            "explode": true,
            "in": "query",
            "name": "brandId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of products per response page (at most 100)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PriceApiResult__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified product variations prices. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Read product variations prices",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v4/products/prices?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v4/products/prices?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      },
      "post": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Update your product variation prices and get a process-id to query results. The limit for the number of product variation prices in one request is 500.",
        "operationId": "Products-V4__updateProductVariationPrices",
        "parameters": [
          {
            "description": "Holds the optional client side update request timestamp, in ISO DateTime format",
            "example": "2000-10-31T01:30:10.000-05:00",
            "explode": false,
            "in": "header",
            "name": "X-Request-Timestamp",
            "required": false,
            "schema": {
              "format": "yyyy-MM-dd'T'HH:mm:ss.SSSXXX",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/SkuPricing__Products-V4"
                },
                "type": "array"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductProcessProgress__Products-V4"
                }
              }
            },
            "description": "The request for a modification of the specified product variation prices was accepted and will be executed"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to modify the specified product variation prices. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Update product variation prices",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.otto.market/v4/products/prices \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'X-Request-Timestamp: 2000-10-31T01:30:10.000-05:00' \\\n  --header 'content-type: application/json' \\\n  --data '[{\"sku\":\"string\",\"standardPrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"sale\":{\"salePrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"startDate\":\"2019-10-19T09:30:00Z\",\"endDate\":\"2019-10-19T09:30:00Z\"}}]'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '[{\"sku\":\"string\",\"standardPrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"sale\":{\"salePrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"startDate\":\"2019-10-19T09:30:00Z\",\"endDate\":\"2019-10-19T09:30:00Z\"}}]' |  \\\n  http POST https://api.otto.market/v4/products/prices \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN' \\\n  X-Request-Timestamp:2000-10-31T01:30:10.000-05:00 \\\n  content-type:application/json"
          }
        ]
      }
    },
    "/v4/products/update-tasks/{processUuid}": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "The response will contain the links for the different parts of the result: products successfully created or updated, products with failures, products which did not contain any changes compared to the last sent version.",
        "operationId": "Products-V4__progressByProcessId",
        "parameters": [
          {
            "description": "search for a product data delivery result by its processUuid.",
            "explode": false,
            "in": "path",
            "name": "processUuid",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductProcessProgress__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified product variations. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The product data delivery results with the specified processUuid value could not be found."
          }
        },
        "summary": "Request the results of a product data delivery",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.otto.market/v4/products/update-tasks/%7BprocessUuid%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET https://api.otto.market/v4/products/update-tasks/%7BprocessUuid%7D \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v4/products/update-tasks/{processUuid}/failed": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Request the failed products of the product data delivery with the linked processUuid. The response will contain a list of failed products with associated error details.",
        "operationId": "Products-V4__failedByProcessId",
        "parameters": [
          {
            "description": "search for the failed products of a product data delivery identified by its processUuid.",
            "explode": false,
            "in": "path",
            "name": "processUuid",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductProcessResult__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified product variations. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The product data delivery results with the specified processUuid value could not be found."
          }
        },
        "summary": "List failed products of a product data delivery",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.otto.market/v4/products/update-tasks/%7BprocessUuid%7D/failed \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET https://api.otto.market/v4/products/update-tasks/%7BprocessUuid%7D/failed \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v4/products/update-tasks/{processUuid}/succeeded": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Request the succeeded products of the product data delivery with the linked processUuid. The response will contain a list of successfully delivered products.",
        "operationId": "Products-V4__succeededByProcessId",
        "parameters": [
          {
            "description": "search for the succeeded products of a product data delivery identified by its processUuid.",
            "explode": false,
            "in": "path",
            "name": "processUuid",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductProcessResult__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified product variations. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The product data delivery results with the specified processUuid value could not be found."
          }
        },
        "summary": "List succeeded products of a product data delivery",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.otto.market/v4/products/update-tasks/%7BprocessUuid%7D/succeeded \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET https://api.otto.market/v4/products/update-tasks/%7BprocessUuid%7D/succeeded \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v4/products/update-tasks/{processUuid}/unchanged": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Request the unchanged products of the product data delivery with the linked processUuid. The response will contain a list of unchanged products.",
        "operationId": "Products-V4__unchangedByProcessId",
        "parameters": [
          {
            "description": "search for the unchanged products of a product data delivery identified by its processUuid.",
            "explode": false,
            "in": "path",
            "name": "processUuid",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductProcessResult__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified product variations. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The product data delivery results with the specified processUuid value could not be found."
          }
        },
        "summary": "List unchanged products of a product data delivery",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.otto.market/v4/products/update-tasks/%7BprocessUuid%7D/unchanged \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET https://api.otto.market/v4/products/update-tasks/%7BprocessUuid%7D/unchanged \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v4/products/{sku}": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Returns a single product variation by SKU.",
        "operationId": "Products-V4__getProductVariation",
        "parameters": [
          {
            "description": "search for a product variation by its SKU value",
            "explode": false,
            "in": "path",
            "name": "sku",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariation__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified product variations. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The product variation with the specified sku value could not be found."
          }
        },
        "summary": "Read a single product variation",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.otto.market/v4/products/%7Bsku%7D \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET https://api.otto.market/v4/products/%7Bsku%7D \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v4/products/{sku}/active-status": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Returns active status of the requested product variation by SKU.",
        "operationId": "Products-V4__getVariationActiveStatus",
        "parameters": [
          {
            "description": "search for a product variation by its SKU value",
            "explode": false,
            "in": "path",
            "name": "sku",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveStatus__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the active status of the specified product variations. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The product variation with the specified sku value could not be found."
          }
        },
        "summary": "Read the active status of a single product variation",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.otto.market/v4/products/%7Bsku%7D/active-status \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET https://api.otto.market/v4/products/%7Bsku%7D/active-status \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v4/products/{sku}/content-changes": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Returns the content changes info for a single product variation within a specific time period. The resulting content changes will be paginated. The default page length is 100 entries per response, also the page size limit. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V4__getContentChanges",
        "parameters": [
          {
            "description": "search for a product variation by its SKU value",
            "explode": false,
            "in": "path",
            "name": "sku",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          },
          {
            "description": "search for content changes from this ISO8601 date on. The maxmimum and default value is 28 days before now. Future values can be specified, but lead to an empty result.",
            "explode": true,
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            },
            "style": "form"
          },
          {
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of entries per response page (at most 100)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentChangesApiResult__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the content changes of the specified product variations. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The product variation with the specified sku value could not be found."
          }
        },
        "summary": "Read content changes for a single product variation",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v4/products/%7Bsku%7D/content-changes?fromDate=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v4/products/%7Bsku%7D/content-changes?fromDate=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v4/products/{sku}/marketplace-status": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Returns marketplace status for a single product variation by SKU.",
        "operationId": "Products-V4__getMarketPlaceStatus",
        "parameters": [
          {
            "description": "search for a marketplace status by its SKU value",
            "explode": false,
            "in": "path",
            "name": "sku",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketPlaceStatus__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified marketplace status. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The product variation with the specified sku value could not be found."
          }
        },
        "summary": "Read marketplace status for a single product variation",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.otto.market/v4/products/%7Bsku%7D/marketplace-status \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET https://api.otto.market/v4/products/%7Bsku%7D/marketplace-status \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v4/products/{sku}/prices": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Read the price data of a single product variation.",
        "operationId": "Products-V4__getProductVariationPrice",
        "parameters": [
          {
            "description": "search for a product variation by its SKU value",
            "explode": false,
            "in": "path",
            "name": "sku",
            "required": true,
            "schema": {
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SkuPricing__Products-V4"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified product variations. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The product variation with the specified sku value could not be found."
          }
        },
        "summary": "Read a single product variation price",
        "tags": [
          "Products V4"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url https://api.otto.market/v4/products/%7Bsku%7D/prices \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET https://api.otto.market/v4/products/%7Bsku%7D/prices \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v5/products": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "The total number of results could be limited by specifying query parameters. Generally the resulting product variations will be paginated. The default page length is 100 product variations per response, also the page size limit. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V5__getPartnerProducts",
        "parameters": [
          {
            "description": "search for product variations by their sku value. Use this if your sku values contain slash ('/') or dot ('.') characters.",
            "explode": true,
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their productReference value",
            "explode": true,
            "in": "query",
            "name": "productReference",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their category value",
            "explode": true,
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their brandId value",
            "explode": true,
            "in": "query",
            "name": "brandId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of products per response page (at most 100)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductVariationApiResult__Products-V5"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified product variations. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Read product variations",
        "tags": [
          "Products V5"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v5/products?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v5/products?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      },
      "post": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Returns a process-id to query results. The limit for the number of product variations in one request is 500.",
        "operationId": "Products-V5__createOrUpdateProductVariations",
        "parameters": [
          {
            "description": "Holds the optional client side update request timestamp, in ISO DateTime format",
            "example": "2000-10-31T01:30:10.000-05:00",
            "explode": false,
            "in": "header",
            "name": "X-Request-Timestamp",
            "required": false,
            "schema": {
              "format": "yyyy-MM-dd'T'HH:mm:ss.SSSXXX",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "items": {
                  "$ref": "#/components/schemas/ProductVariation__Products-V5"
                },
                "type": "array"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductProcessProgress__Products-V5"
                }
              }
            },
            "description": "The request for a modification of the specified product variations was accepted and will be executed"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to modify the specified product variations. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Create or update product variations",
        "tags": [
          "Products V5"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.otto.market/v5/products \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'X-Request-Timestamp: 2000-10-31T01:30:10.000-05:00' \\\n  --header 'content-type: application/json' \\\n  --data '[{\"productReference\":\"UBN-11779\",\"sku\":\"3858389911564\",\"ean\":\"3858389911564\",\"pzn\":\"PZN-4908802\",\"mpn\":\"H2G2-42\",\"moin\":\"M00A1234BC\",\"releaseDate\":\"2019-10-19T00:00:00Z\",\"productDescription\":{\"category\":\"Outdoorjacke\",\"brandId\":\"CMWBBRW2\",\"productLine\":\"501\",\"productionDate\":\"2021-07-02T09:30:52.093Z\",\"multiPack\":true,\"bundle\":false,\"fscCertified\":true,\"disposal\":false,\"productUrl\":\"http://myproduct.somewhere.com/productname/\",\"description\":\"<p>Some example words...<b>in bold</b>...some more</p>\",\"bulletPoints\":[\"My top key information...\"],\"attributes\":[{\"name\":\"Materialzusammensetzung\",\"values\":[\"100% Baumwolle\"],\"additional\":false}]},\"mediaAssets\":[{\"type\":\"IMAGE\",\"location\":\"http://apartners.url/image-location\"}],\"order\":{\"maxOrderQuantity\":{\"quantity\":10,\"periodInDays\":7}},\"pricing\":{\"standardPrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"vat\":\"FULL\",\"msrp\":{\"amount\":19.95,\"currency\":\"EUR\"},\"sale\":{\"salePrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"startDate\":\"2019-10-19T09:30:00Z\",\"endDate\":\"2019-10-19T09:30:00Z\"},\"normPriceInfo\":{\"normAmount\":100,\"normUnit\":\"g\",\"salesAmount\":500,\"salesUnit\":\"g\"}},\"logistics\":{\"packingUnitCount\":3,\"packingUnits\":[{\"weight\":365,\"width\":600,\"height\":200,\"length\":300}]},\"compliance\":{\"productSafety\":{\"addresses\":[{\"name\":\"Die Musterfirma GmbH\",\"address\":\"Musterstraße 1, 12345, Musterstadt, Deutschland\",\"regionCode\":\"DE\",\"email\":\"info@die-musterfirma.de\",\"url\":\"https://musterfirma/kontakt-information\",\"phone\":\"+ 49 40 123456789\",\"roles\":[\"DISTRIBUTOR\"],\"components\":[\"mouse\"]}]},\"foodInformation\":{\"addresses\":[{\"name\":\"Die Musterfirma GmbH\",\"address\":\"Musterstraße 1, 12345, Musterstadt, Deutschland\",\"regionCode\":\"DE\",\"email\":\"info@die-musterfirma.de\",\"url\":\"https://musterfirma/kontakt-information\",\"phone\":\"+ 49 40 123456789\",\"roles\":[\"FOOD_BUSINESS_OPERATOR\"],\"components\":[\"Salad\"]}]}}}]'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '[{\"productReference\":\"UBN-11779\",\"sku\":\"3858389911564\",\"ean\":\"3858389911564\",\"pzn\":\"PZN-4908802\",\"mpn\":\"H2G2-42\",\"moin\":\"M00A1234BC\",\"releaseDate\":\"2019-10-19T00:00:00Z\",\"productDescription\":{\"category\":\"Outdoorjacke\",\"brandId\":\"CMWBBRW2\",\"productLine\":\"501\",\"productionDate\":\"2021-07-02T09:30:52.093Z\",\"multiPack\":true,\"bundle\":false,\"fscCertified\":true,\"disposal\":false,\"productUrl\":\"http://myproduct.somewhere.com/productname/\",\"description\":\"<p>Some example words...<b>in bold</b>...some more</p>\",\"bulletPoints\":[\"My top key information...\"],\"attributes\":[{\"name\":\"Materialzusammensetzung\",\"values\":[\"100% Baumwolle\"],\"additional\":false}]},\"mediaAssets\":[{\"type\":\"IMAGE\",\"location\":\"http://apartners.url/image-location\"}],\"order\":{\"maxOrderQuantity\":{\"quantity\":10,\"periodInDays\":7}},\"pricing\":{\"standardPrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"vat\":\"FULL\",\"msrp\":{\"amount\":19.95,\"currency\":\"EUR\"},\"sale\":{\"salePrice\":{\"amount\":19.95,\"currency\":\"EUR\"},\"startDate\":\"2019-10-19T09:30:00Z\",\"endDate\":\"2019-10-19T09:30:00Z\"},\"normPriceInfo\":{\"normAmount\":100,\"normUnit\":\"g\",\"salesAmount\":500,\"salesUnit\":\"g\"}},\"logistics\":{\"packingUnitCount\":3,\"packingUnits\":[{\"weight\":365,\"width\":600,\"height\":200,\"length\":300}]},\"compliance\":{\"productSafety\":{\"addresses\":[{\"name\":\"Die Musterfirma GmbH\",\"address\":\"Musterstraße 1, 12345, Musterstadt, Deutschland\",\"regionCode\":\"DE\",\"email\":\"info@die-musterfirma.de\",\"url\":\"https://musterfirma/kontakt-information\",\"phone\":\"+ 49 40 123456789\",\"roles\":[\"DISTRIBUTOR\"],\"components\":[\"mouse\"]}]},\"foodInformation\":{\"addresses\":[{\"name\":\"Die Musterfirma GmbH\",\"address\":\"Musterstraße 1, 12345, Musterstadt, Deutschland\",\"regionCode\":\"DE\",\"email\":\"info@die-musterfirma.de\",\"url\":\"https://musterfirma/kontakt-information\",\"phone\":\"+ 49 40 123456789\",\"roles\":[\"FOOD_BUSINESS_OPERATOR\"],\"components\":[\"Salad\"]}]}}}]' |  \\\n  http POST https://api.otto.market/v5/products \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN' \\\n  X-Request-Timestamp:2000-10-31T01:30:10.000-05:00 \\\n  content-type:application/json"
          }
        ]
      }
    },
    "/v5/products/active-status": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "The total number of results could be limited by specifying query parameters. Generally the resulting active status values will be paginated. The default page length is 100 active status entries per response, also the page size limit. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V5__getActiveStatus",
        "parameters": [
          {
            "description": "search for product variations by their sku value. Use this if your sku values contain slash ('/') or dot ('.') characters.",
            "explode": true,
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their productReference value",
            "explode": true,
            "in": "query",
            "name": "productReference",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their category value",
            "explode": true,
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search for product variations by their brand ID value",
            "explode": true,
            "in": "query",
            "name": "brandId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of active status values per response page (at most 100)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ActiveStatusListResponse__Products-V5"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the active status of the specified product variations. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Read active status",
        "tags": [
          "Products V5"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v5/products/active-status?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v5/products/active-status?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      },
      "post": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Returns a process-id to query results. The limit for the number of product active statuses in one request is 500.",
        "operationId": "Products-V5__updateActiveStatus",
        "parameters": [
          {
            "description": "Holds the optional client side update request timestamp, in ISO DateTime format",
            "example": "2000-10-31T01:30:10.000-05:00",
            "explode": false,
            "in": "header",
            "name": "X-Request-Timestamp",
            "required": false,
            "schema": {
              "format": "yyyy-MM-dd'T'HH:mm:ss.SSSXXX",
              "type": "string"
            },
            "style": "simple"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActiveStatusListRequest__Products-V5"
              }
            }
          }
        },
        "responses": {
          "202": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductProcessProgress__Products-V5"
                }
              }
            },
            "description": "The request for a modification of the active status of the specified product variation was accepted and will be executed"
          },
          "400": {
            "description": "The request body is no valid JSON document"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to modify the active status of the specified product variations. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Update active status",
        "tags": [
          "Products V5"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request POST \\\n  --url https://api.otto.market/v5/products/active-status \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'X-Request-Timestamp: 2000-10-31T01:30:10.000-05:00' \\\n  --header 'content-type: application/json' \\\n  --data '{\"status\":[{\"sku\":\"82388894-5883-488\",\"active\":true}]}'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "echo '{\"status\":[{\"sku\":\"82388894-5883-488\",\"active\":true}]}' |  \\\n  http POST https://api.otto.market/v5/products/active-status \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN' \\\n  X-Request-Timestamp:2000-10-31T01:30:10.000-05:00 \\\n  content-type:application/json"
          }
        ]
      }
    },
    "/v5/products/brands": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/If-Match"
          },
          {
            "$ref": "#/components/parameters/If-None-Match"
          },
          {
            "$ref": "#/components/parameters/If-Modified-Since"
          },
          {
            "$ref": "#/components/parameters/If-Unmodified-Since"
          },
          {
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "description": "Read the list of brands that are known on the Otto market place. The list of brands will be paginated. Brands consist of a name, a brand Id, a (link to a) logo and a boolean useable that lets you know wheter you are allowed to set up variants with this brand on the Otto Marketplace. The default page length is 100 entries per response, the page size upper limit is 1000. The links specified in the result can be used to page through the total result space. Note that there will be no prev link on the first page and no next link on the last page.",
        "operationId": "Products-V5__getBrands",
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BrandListResponse__Products-V5"
                }
              }
            },
            "headers": {
              "ETag": {
                "$ref": "#/components/headers/ETag"
              },
              "Last-Modified": {
                "$ref": "#/components/headers/Last-Modified"
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read a list of known brands. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "List of allowed brands",
        "tags": [
          "Products V5"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v5/products/brands?page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN' \\\n  --header 'If-Match: 7da7a728f910' \\\n  --header 'If-Modified-Since: Sat, 29 Oct 1994 19:43:31 GMT' \\\n  --header 'If-None-Match: 7da7a728f910' \\\n  --header 'If-Unmodified-Since: Sat, 29 Oct 1994 19:43:31 GMT'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v5/products/brands?page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN' \\\n  If-Match:7da7a728f910 \\\n  If-Modified-Since:'Sat, 29 Oct 1994 19:43:31 GMT' \\\n  If-None-Match:7da7a728f910 \\\n  If-Unmodified-Since:'Sat, 29 Oct 1994 19:43:31 GMT'"
          }
        ]
      }
    },
    "/v5/products/categories": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Returns product categories and associated attributes of the OTTO market place. The total number of results could be limited by specifying query parameters. Generally the resulting product categories values will be paginated. The default page length is 100 product categories per response, the page size limit is 2000. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V5__getCategoryGroups",
        "parameters": [
          {
            "description": "the number (starting with 0) of the page, that should be delivered.",
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of product categories per response page  (at most 2000)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "read a single category",
            "explode": true,
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CategoryGroups__Products-V5"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the product categories. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The category could not be found."
          }
        },
        "summary": "Read product categories",
        "tags": [
          "Products V5"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v5/products/categories?page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE&category=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v5/products/categories?page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE&category=SOME_STRING_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v5/products/content-changes": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Read the content changes for all your product variations within a specific time period. You can also use this endpoint to read the content changes for more than one variation or if the sku value contains slash ('/') or dot ('.') characters, so that you cannot use the other endpoint with one dedicated sku value in the path. The resulting content changes will be paginated. The default page length is 100 entries per response, which also is the page size upper limit. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V5__getContentChanges2",
        "parameters": [
          {
            "description": "search for product variations by their sku value. Use this to query for multiple variations or if your sku values contain slash ('/') or dot ('.') characters. You may separate multiple sku values by comma or state each one with a &sku= in front of the value. Please note that if you like to query for a single variation whose value contains a comma you have to add one empty &sku= at the end of the query string or use the other endpoint.",
            "explode": true,
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "items": {
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "search for content changes from this time on. The maxmimum and default value is 28 days before now. Future values can be specified, but lead to an empty result.",
            "explode": true,
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            },
            "style": "form"
          },
          {
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of content changes per response page (at most 100)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContentChangesApiResult__Products-V5"
                }
              }
            },
            "description": "successful operation"
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read content changes of the specified product variations. This may be the case, if the user has not the necessary role."
          },
          "404": {
            "description": "The product variation with the specified sku value could not be found."
          }
        },
        "summary": "Read content changes within time period",
        "tags": [
          "Products V5"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v5/products/content-changes?sku=SOME_ARRAY_VALUE&fromDate=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v5/products/content-changes?sku=SOME_ARRAY_VALUE&fromDate=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v5/products/marketplace-status": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "The total number of results could be limited by specifying query parameters. Generally the resulting marketplace status will be paginated. The default page length is 100 product variations per response, also the page size limit. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V5__getMarketPlaceStatusList",
        "parameters": [
          {
            "description": "search for product variations by their sku value. Use this if your sku values contain slash ('/') or dot ('.') characters.",
            "explode": true,
            "in": "query",
            "name": "sku",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search marketplace status by the productReference value of the related product variations",
            "explode": true,
            "in": "query",
            "name": "productReference",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search marketplace status by the category value of the related product variations",
            "explode": true,
            "in": "query",
            "name": "category",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search marketplace status by the brand ID value of the related product variations",
            "explode": true,
            "in": "query",
            "name": "brandId",
            "required": false,
            "schema": {
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "search marketplace status for a time range starting with the given date (in ISO8601, like '2021-10-09T07:52:19.820Z' or '2021-10-09T07:52:19.820+01:00')",
            "explode": true,
            "in": "query",
            "name": "fromDate",
            "required": false,
            "schema": {
              "format": "date-time",
              "type": "string"
            },
            "style": "form"
          },
          {
            "description": "page to load",
            "explode": true,
            "in": "query",
            "name": "page",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "proposed limit for the number of marketplace status per response page (at most 1000)",
            "explode": true,
            "in": "query",
            "name": "limit",
            "required": false,
            "schema": {
              "format": "int32",
              "type": "integer"
            },
            "style": "form"
          },
          {
            "description": "only include items that match any of the provided status",
            "explode": true,
            "in": "query",
            "name": "marketPlaceStatus",
            "required": false,
            "schema": {
              "items": {
                "enum": [
                  "PENDING",
                  "ONLINE",
                  "RESTRICTED",
                  "REJECTED",
                  "INACTIVE"
                ],
                "type": "string"
              },
              "type": "array"
            },
            "style": "form"
          },
          {
            "description": "Define the sort order of the resulting entries. Available values are 'desc' for 'newest lastModified first' and 'asc' for 'oldest lastModified first' - default is 'desc'",
            "explode": true,
            "in": "query",
            "name": "sort-order",
            "required": false,
            "schema": {
              "enum": [
                "desc",
                "asc"
              ],
              "type": "string"
            },
            "style": "form"
          }
        ],
        "responses": {
          "200": {
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/MarketPlaceStatusApiResult__Products-V5"
                }
              }
            },
            "description": "successful operation"
          },
          "304": {
            "description": "The request included an If-Modified-Since header, but the resource has not been modified since the specified date."
          },
          "401": {
            "description": "The technical user could not be authenticated"
          },
          "403": {
            "description": "The technical user is not authorized to read the specified marketplace status. This may be the case, if the user has not the necessary role."
          }
        },
        "summary": "Read marketplace status of product variations",
        "tags": [
          "Products V5"
        ],
        "x-codeSamples": [
          {
            "lang": "Shell + Curl",
            "source": "curl --request GET \\\n  --url 'https://api.otto.market/v5/products/marketplace-status?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&fromDate=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE&marketPlaceStatus=SOME_ARRAY_VALUE&sort-order=SOME_STRING_VALUE' \\\n  --header 'Authorization: Bearer REPLACE_BEARER_TOKEN'"
          },
          {
            "lang": "Shell + Httpie",
            "source": "http GET 'https://api.otto.market/v5/products/marketplace-status?sku=SOME_STRING_VALUE&productReference=SOME_STRING_VALUE&category=SOME_STRING_VALUE&brandId=SOME_STRING_VALUE&fromDate=SOME_STRING_VALUE&page=SOME_INTEGER_VALUE&limit=SOME_INTEGER_VALUE&marketPlaceStatus=SOME_ARRAY_VALUE&sort-order=SOME_STRING_VALUE' \\\n  Authorization:'Bearer REPLACE_BEARER_TOKEN'"
          }
        ]
      }
    },
    "/v5/products/prices": {
      "get": {
        "security": [
          {
            "bearerAuth": [
              "products"
            ]
          }
        ],
        "description": "Read your product variations prices. The total number of results could be limited by specifying query parameters. Generally the resulting product variations will be paginated. The default page length is 100 product variations per response, also the page size limit. The links specified in the result can be used to page through the total result space.",
        "operationId": "Products-V5__getProductVariationPrices",
        "parameters": [
          {
            "description": "search for product variations by their sku value. Use this if your sku values contain slash ('/') or dot ('.') characters.",
            "explode": true,
            "in": "query",
            "name": "sku",
            "required": false,
[...]
